.advant {
    @include adaptiveClamp(margin-top, 78, 40);

    &__container {
    }

    &__header {
        
    }

    &__body {
        margin-top: 10px;
        max-width: 620px;
    }

    &__swiper {
        @include adaptiveClamp(margin-top, 40, 25);
    }
    &__swiper-wrapper {
    }

    &__swiper-slide {
        display: flex;
        flex-direction: column;
    }

    &__item {
        // display: flex;
        // flex-direction: column;
        
    }
}
.header {
}
.swiper {
}
.swiper-slide {
}
.item-advant {
    background: #F4FAFF;
    border-radius: 24px;
    padding: 30px 35px 50px;
    // margin: 0 10px;
    height: 180px;
    max-height: 182px;
    // display: flex;
    // flex-direction: column;
    // column-gap: 20px;
    @media(max-width:825px){
        padding: 27px 20px;
    }
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__img {
        max-width: 48px;
        img {
            width: 100%;
        }
        @media(max-width:825px){
            max-width: 72px;
        }
    }

    &__body {
        margin-top: 10px;
    }
}
